.mn{
    background-color: darkblue;
    text-align: center;
}
.nm{
    color: white;
    text-align: center;
}
.zz{
    color: white;
}
.yt{
    width: 100%;
    background-color: orangered;
    border-collapse: collapse;
}
.qw{
    background-color: rgb(1, 1, 207);
}
.fg{
    background-color: rgb(1, 1, 202);
}
.lk{
    background-color: rgb(1, 1, 219);
}
.asad{
    background-color: rgb(1, 1, 216);
}
.bn{
    border-radius: 10px;
}
.zx{
    color: white;
}
.kl{
    color: orangered;
}
p{
    color: white;
}
h4{
    color: orangered;
}